* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root {
   --db-body: #ffffff;
   --bt-button: #0061ff;
   --db-main-top: #b4d0e7;
   --db-main-border-designit: #d1e9cd;
   --db-main-designit: #a2d39b;
   --db-main-asu: #61082b;
   --db-main-uf: #0093ce;
   --db-main-topps: #ff1c1c;
   --db-main-bottom-designit: #f5f5f5;
   --db-main-bicycle: #d5001f;
   --db-main-hearst: #b4d0e7;
   --db-main-planet: #0d2481;
   --db-main-clear: #ffd830;
   --db-main-bottom-text: #61082b;
   --db-main-bottom: #b4d0e7;
   --db-footer: #000000;
}

/* Utilities */

.d-flex{
    display: flex;
}

#app-header a {
    text-decoration: none;
    color: #000000;
}

.container {
    margin: auto;
    margin-top: 60px;
}

.container-middle {
    margin: auto;
    margin-top: 80px;
    width: 60%;
}


.row{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-4 {
    width: calc(95% / 12 * 4);
}

.col-12 {
    width: 100%;
    height: 50px;
    margin-top: 50px;
}


/* #region DebugHeader */

.debug .container-header_left {
    background-color: red;
}

.debug .container-header_right {
    background-color: yellow;
}

/* #endregion DebugHeader */

/* #region Header */

#app-header {
   position: relative;
}

.banner-link-header {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: var(--db-body);
}


.container-header_left{
    height: 50px;
    width: 50%;
    position: relative;
    
}

.container-header_left ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 1rem;

}

.container-header_left nav{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.container-header_left li{
    margin: 1rem;
}


.container-header_right {
    display: flex;
    height: 50px;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    
}

.container-header_right ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 1rem;

}


.container-header_right li{
    margin: 1rem;
}

.bt_header {
    background-color: var(--bt-button);
    padding: 5px;
    color: var(--db-body);
    border-radius: 2px;
    border: none;
}




/* #endregion Header */









/* #region DebugMain */

.debug .container{
    background-color: gray;
    height: 400px;
    width: 50%;
}

.debug .text_container-middle{
    background-color: #a4b7d4;
}


.debug .plans{
    background-color: #f5f5f5;
}

.debug .col-4 {
    background-color: #3e85f7;
    height: 300px;
   
}

.debug .col-12{
    background-color: yellow;
}
 
.debug .col-img{
    background-color: #0093ce;
    height: 400px;
}

.debug .col-text{
    background-color: #191b1b;
    height: 400px;
}

.debug .company {
    background-color: aliceblue;
}


.debug .square{
    background-color: #3e85f7;
}



/* #endregion DebugMain */





/* #region Main */

.main-top {
    
    background-color: var(--db-main-top);
}

.container-middle h1{
    text-align: center;
    width: 100%;
    font-size: 50px;
}

.title{
    width: 100%;
}

.text_container-middle{
    width: 40%;
    height: 264px;
    display: inline-block;

   
}


.bt_free-test{
    margin-top: 25px;
    background-color: var(--bt-button);
    padding: 7px;
    color: var(--db-body);
    border-radius: 2px;
    border: none;
}

.text_container-middle p{
    margin-top: 25px;
}


.img_container-middle {
    width: 59%;
    height: 200px;
    display: inline-block;
}

.jumbo{
    width: 100%;
}

.col-img {
    width: 60%;
}

.col-text {
    width: 35%;
}

.card{
    width: calc(95% / 3 );
    height: 150px;
    background-color: #a2d39b;
    margin: 20px 0;
}

.company{
    width: calc(100% / 12 * 4);
    flex-wrap: wrap;
    height: 400px;
}

.square{
    height: calc(100% / 2);
    width: calc(100% / 2);
}

.container-max{
    margin: auto;
    margin-top: 60px;
    width: 100%;
    height: 400px;
}

.col-text-bottom{
    background-color: var(--db-main-bottom);
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
}

.faq{
    margin-top: 270px;
}


.faq-title{
    width: 100%;
    height: 100px;
    background-color: #0d2481;
}

.question{
    width: 100%;
    height: 100px;
    background-color: #4158b4;
}

 #app-footer{
    background-color: var(--db-footer);
 }

.container-footer{
    margin: auto;
    width: 65%;
    height: 400px;
    margin-top: 60px;
}

.column{
    width: calc(100% / 5);
    height: 300px;
    background-color: #0093ce;
}


.language{
    width: 150px;
    height: 100px;
    background-color: #a2d39b;
    border-top: 1px solid white;
}










/* #endregion Main */














